@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100%;
    min-width: 800px;
    min-height: 600px;
    color: white;
    background-color: black;
    font-family: 'Roboto Mono', monospace;;
}
section{
    width: 80vw;
    margin: 0 auto;
}
.title{
    width: 100%;
    font-size: 3rem;
}
.no-margin-silver-border {
    margin: 0;
    border: 2px solid grey;
}
.form-input{
    width: 100%;
    height: 8vh;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
}
.form-input::placeholder{
    text-align: center;
}
.button-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 0.5rem;
}
.button-container *{
    width: 15rem;
    height: 5rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: gray;
    color: white;
    cursor: pointer;
}
#delete-btn{
    background-color: rgb(167, 1, 1);
}
.ol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}
.ol span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 1rem;
}
.ol span li{
    font-size: 1.5rem;
}
